[build]
builder = "DOCKERFILE"

[deploy]
healthcheckPath = "/"
healthcheckTimeout = 180
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 5

[environments]
[environments.production]
NODE_ENV = "production"
NEXT_TELEMETRY_DISABLED = "1"